<article>
  <h2><%= @post1.name.upcase %></h2>
  <div id="blog_post"><%= image_tag 'author.png' %>
  </div>
    <p><span id="name">Anne Marie</span> on <span id="date">Monday Oct. 7th 9:22pm</span></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <a href="#">pariatur</a>.
      </p>
        <blockquote>HEY, THAT'S AWESOME!</blockquote>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione <a href="#">voluptatem</a> sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
      </p>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
      </p>
        <ul>
          <li>
            <%= image_tag 'comments.png' %>
          </li>
          <li>
            <%= image_tag 'read.png' %>
          </li>
          <li>
            <%= image_tag 'share.png' %>
          </li>
      </ul>
  </article>
<aside>
      <div id="top_content">
      <%= image_tag 'author.png' %>
      <p><h3>ANNE MARIE</h3></p>
        <ul>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Instagram</li>
        </ul>
      </div>
      <div id="ad">
        <%= image_tag 'lady.jpg' %><a href="#">About this ad</a>
      </div>
      <div id="sidebar">
        <h3>Sidebar Section Heading</h3>
      </div>
      <div id="sidetext">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </aside>
    <br clear="all">

  <div id="bottom_posts">
  <h1>Most Popular Posts</h1>

  <div id="post_1" style="background: url(../assets/article-bottom-1.jpg); background-size: cover;">
    <a href="#">
  <div id="tint">
    <span>Another Cool Post</span>
  </div>
  </a>
</div>


<div id="post_2" style="background: url(../assets/bottom-2.jpg); background-size: cover;">
  <a href="#">
<div id="tint">
  <span>Post Title</span>
</div>
</a>
</div>

<div id="post_3" style="background: url(../assets/bottom-3.jpg); background-size: cover;">
  <a href="#">
<div id="tint">
  <span>Here's Another Long Post Title</span>
</div>
</a>
</div>

<div id="post_4" style="background: url(../assets/bottom-4.jpg); background-size: cover;">
  <a href="#">
<div id="tint">
  <span>Oh Cool A Post!</span>
</div>
</a>
</div>
</div>


</body>
